
body {

    font-family: sans-serif;
}

#buttons {
    margin: 100px 0 100px 0;
}

#buttons input {
    width: 120px;
}

.clear {
    clear:both;
}

#buttons input:last-child {
    position: fixed;
    top: 20px;
    left: 50px;
}

#figure1 {
    float: left;
    margin-right: 5px;
}
