
body {
    background-color: #cccc99;
    font-family: sans-serif;
}

.content {
    background-color: #eeeecc;
    padding: 7px;
}

h1 {
    font-size: 1.2em;
}

pre {
    font-family: monospace;
    font-size: 0.9em;
}

ol {
    font-style: italic;
    font-size: 0.9em;
}

.copyright {
    font-weight: bold;
}
