
body {
    background-color: #cccccc;
}


ul li {
    display: inline;
    width: 150px;
    text-align: center;
    padding: 3px 0 0 10px;
    background-color: #cccc99;
    border-bottom: 3px solid #000000;
    border-left: 10px solid #cc3333;
    /*border-bottom-style: solid;*/
    /*border-bottom-color: black;*/
    /*border-bottom-width: 2px;*/
    margin: 5px;

}

